<app-header></app-header>
<div
  style="
    max-width: 80rem;
    margin-inline: auto;
    border: 2px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  "
>
  <h1 class="custom">Hello World this is Angular {{ title }}</h1>
  <div
    style="
      font-size: 32px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    "
  >
    {{ getvalue() }}
  </div>
</div>
<div style="max-width: 80rem; margin-inline: auto">
  <app-login></app-login>
  <app-login-test></app-login-test>
  <br />
  <br />
  <input type="text" #box placeholder="Enter to print" name="name" />
  <button (click)="getNewValue(box.value)">Click me</button>
  <div style="margin-top: 5rem">
    <span class="text-style">Input Box value is: </span>{{ displayVal }}
  </div>
  <button class="btn" style="margin-block: 2rem" (click)="changVal()">
    Show/Hide
  </button>
  <ng-template *ngIf="state; then ifBlock; else elseBlock"></ng-template>
  <ng-template #ifBlock>
    <form #basicForm="ngForm" (ngSubmit)="getData(basicForm.value)">
      <input type="text" ngModel name="username" placeholder="Enter username" />
      <br /><br />
      <input
        type="password"
        ngModel
        name="password"
        placeholder="Enter password"
      />
      <br /><br />
      <input type="email" ngModel name="email" placeholder="Enter Email" />
      <br /><br />
      <button class="btn">Submit</button>
    </form>
  </ng-template>

  <ng-template #elseBlock>
    <div class="counter">
      <button (click)="setCount('add')" class="btn">++</button>
      <h1 class="count-data">{{ count }}</h1>
      <button (click)="setCount('Min')" class="btn">--</button>
    </div>
  </ng-template>
</div>
